
#name  span {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-animation: sharpen 0.6s linear backwards;
	-moz-animation: sharpen 0.6s linear backwards;
	-ms-animation: sharpen 0.6s linear backwards;
	animation: sharpen 0.6s linear backwards;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 1;
}
	#name  span:nth-child(1) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
	}
	#name  span:nth-child(2) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
	}
	#name  span:nth-child(3) {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	animation-delay: 0.9s;
	}
	#name  span:nth-child(4) {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	animation-delay: 0.9s;
	}
	#name  span:nth-child(5) {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-ms-animation-delay: 0.7s;
	animation-delay: 0.7s;
	}
	#name  span:nth-child(6) {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-ms-animation-delay: 0.7s;
	animation-delay: 0.7s;
	}
	#name  span:nth-child(7) {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
	}
	#name  span:nth-child(8) {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
	}
	#name  span:nth-child(9) {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
	}
	#name  span:nth-child(10) {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
	}
	#name  span:nth-child(11) {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
	}
@keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #999;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #999;
   	color: transparent;
 }
 100% {
    color: #999;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #999, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-moz-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #999;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #999;
   	color: transparent;
 }
 100% {
    color: #999;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #999, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-webkit-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #999;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #999;
   	color: transparent;
 }
 100% {
    color: #999;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #999, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-ms-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #999;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #999;
   	color: transparent;
 }
 100% {
    color: #999;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #999, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
#evtsm{
 		border:2px solid white; 
}
#socia{
	font-size: 2em;
	color: #56D0C1;
}
#mobileHide{
	display: none;
}
#name{
	 color:white;
	 text-align:center;
	 font-size:3em;
	 margin-top:0dips;
}
#events{
	display: none;
}
#intro,#edu,#prj,#skl,#int{
	background-color:#56D0C1;
}
body{
	background:gray; 
	font-family:fantasy;		
}
img,#proPic{
	border-radius:50%;
	height: 100px;
	width: 100px;
}
.timeline{
	color:white;
	margin-top: 100dips;
	font-size: .7em;
	font-weight:bold;

	}
	p a{
		color: white;
		text-decoration: none; 
	}
p{
	margin:0 auto;
	text-align:center; 
	font-size:0.5em;
}	
#social{
	color:#202020;
	font-size: 35px;
}
#social:hover{color:white;}
h1{
	text-align: center;
	}
/* 
	About Me Starts from here
*/
/* Dropdown Button */

button{
	top:0;
	opacity: 0.45;
	width: 98%;
	border: none;
}
button:hover{
	opacity: 1;
}
.dropbtn {
    background-color: #56D0C1;
    font-size:1.3em;
    font-family: fantasy; 
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color:#56D0C1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    background-color : transparent;
	width: 98%;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    opacity: 0.9;
    padding: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* 
	About Me Ends here
*/
#q{
	color:white;;
	margin:0 auto; 
	font-weight: bold;
	font-size: 1em; 	
}
#evt{
	text-decoration:none;
	color:white;
}
#eventsm{
	margin:5dips;
	font-size:.7em; 
}
#evts:hover{
	background:white;
	color:#195070;
}
